<template>
  <div class="main">
    <basic-form-layout
      title="Create contract"
      :action="action"
      @cancel="cancel"
      @submit="submit"
    >
      <template v-slot:name>
        <div class="custom_form_item">
          <label>Name:</label>
          <input v-model="body.name" type="text" />
        </div>
      </template>
      <template v-slot:registry>
        <div class="custom_form_item">
          <label for="selectOption">Registry plan:</label>
          <select v-model="body.member_registry_plan_id">
            <option
              v-for="item of listRegistryPlan"
              :key="item.id"
              :value="item.id"
            >
              {{ item.text }}
            </option>
          </select>
        </div>
      </template>
      <template v-slot:activeplan>
        <div class="custom_form_item">
          <label for="selectOption">Active plan:</label>
          <select v-model="body.member_active_plan_id">
            <option
              v-for="item of listActivePlan"
              :key="item.id"
              :value="item.id"
            >
              {{ item.text }}
            </option>
          </select>
        </div>
      </template>
      <template v-slot:organizationplan>
        <div class="custom_form_item">
          <label for="selectOption">Active plan:</label>
          <select v-model="body.organization_plan_id">
            <option
              v-for="item of listOrganizationPlan"
              :key="item.id"
              :value="item.id"
            >
              {{ item.text }}
            </option>
          </select>
        </div>
      </template>
      <template v-slot:value>
        <div class="custom_form_item">
          <label>Price:</label>
          <input v-model="body.price" type="number" />
        </div>
      </template>
    </basic-form-layout>
  </div>
</template>

<script>
import BasicFormLayout from "@/components/BasicFormLayoutComponent.vue";
import httpService from "../../plugins/httpService.js";
import fetchCreateEditMixin from "../../mixins/fetchCreateEditMixin.js";

export default {
  name: "CreateContract",
  components: { BasicFormLayout },
  mixins: [fetchCreateEditMixin],
  data() {
    return {
      action: "Create",
      apiEndPoint: "/dev/api/v1/admin/contract-plans",
      apiGetTypeEndPoint: "/dev/api/v1/admin/plans/get-select-list",
      pathList: "/contract/list",
      body: {
        name: "",
        member_registry_plan_id: "",
        member_active_plan_id: "",
        organization_plan_id: "",
        price: "",
      },

      //First data init
      listRegistryPlan: [], //member_registry_plan_id | type: 1
      listActivePlan: [], //member_active_plan_id | type: 2
      listOrganizationPlan: [], //organization_plan_id | type: 3
    };
  },
  async created() {
    await this.bindListType();
  },
  methods: {
    async bindListType() {
      const [listRegistry, listActive, listOrganization] = await Promise.all([
        this.getListSelectType(1),
        this.getListSelectType(2),
        this.getListSelectType(3),
      ]);

      listRegistry.unshift({ id: "", text: "Please select" });
      listActive.unshift({ id: "", text: "Please select" });
      listOrganization.unshift({ id: "", text: "Please select" });

      this.listRegistryPlan = listRegistry;
      this.listActivePlan = listActive;
      this.listOrganizationPlan = listOrganization;
    },
    async getListSelectType(type) {
      var query = {
        plan_type: type,
      };

      var response = await httpService.get(this.apiGetTypeEndPoint, query);

      if (response.httpCode != 200) {
        return;
      }

      return response.data;
    },
  },
};
</script>

<style scoped>
.main {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.custom_form_item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.custom_form_item label {
  width: 25%;
}

.custom_form_item input {
  width: 100%;
  padding: 10px;
}
</style>
