<template>
  <div class="main">
    <header-search-list
      class="header-search-list"
      :pathCreate="pathCreate"
      @search="search()"
      @reset="reset()"
    >
      <template v-slot:input>
        <input type="text" v-model="query.name" placeholder="Search..." />
        <i class="fa-solid fa-magnifying-glass fa-lg"></i>
      </template>
    </header-search-list>

    <Table
      :headers="headers"
      :items="items"
      :total="total"
      :loading="isLoading"
      :page="page"
      @update:options="changeOptions"
    >
      <!-- Slot for any header you want to customize -->
      <template v-slot:[`item.action`]="{ item }">
        <button class="btn-user-edit" @click="goToEdit(item, pathEdit)">
          <i class="fa-solid fa-pen"></i>
        </button>
      </template>
    </Table>
  </div>
</template>

<script>
import Table from "../../components/TableComponent.vue";
import HeaderSearchList from "../../components/HeaderSearchListComponent.vue";
import fetchListMixin from "../../mixins/fetchListMixin.js";

export default {
  name: "ListContract",
  components: { Table, HeaderSearchList },
  mixins: [fetchListMixin],
  data() {
    return {
      apiEndPoint: "/dev/api/v1/admin/contract-plans",
      pathList: "/contract/list",
      pathEdit: "/contract/edit",
      pathCreate: "/contract/create",
      headers: [
        {
          name: "Name",
          key: "name",
          width: "20%",
        },
        {
          name: "Registry plan value",
          key: "member_registry_plan_value",
          width: "20%",
        },
        {
          name: "Active plan value",
          key: "member_active_plan_value",
          width: "20%",
        },
        {
          name: "Organization plan value",
          key: "organization_plan_value",
          width: "20%",
        },
        {
          name: "Price",
          key: "price",
          width: "20%",
        },
        {
          name: "Action",
          key: "action",
          width: "5%",
        },
      ],
      query: {
        name: "",
        page: "1",
      },
    };
  },
};
</script>

<style scoped>
.main {
  width: 100%;
  padding: 2rem;
}

.main .header-search-list input[type="text"] {
  width: 350px;
  position: relative;
}

.header-search-list i.fa-magnifying-glass {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #263238;
}

.btn-user-edit {
  padding: 5px;
  border: unset;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  margin-right: 10px;

  color: #8b9eb5;
}

.btn-user-edit:hover {
  box-shadow: 0.2px 0.2px 0.1px 0.1px #adcecb;
  cursor: pointer;
}
</style>
