.btn {
  width: 75px;
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 10px 16px 10px 16px;

  cursor: pointer;
}

.btn.primary {
  background-color: #0051b6;
  color: #ffffff;
}

.btn.primary:hover {
  background-color: #024ca7;
}

.btn.danger {
  background-color: #dd1e04;
  color: #ffffff;
}

.btn.danger:hover {
  background-color: #d6321c;
}

.btn.secondary {
  background-color: #fab650;
  color: rgsb(68, 66, 66);
}

.btn.secondary:hover {
  background-color: #f8b95a;
}

.btn.logout {
  background-color: #f3efef;
  color: rgsb(68, 66, 66);
}

.btn.logout:hover {
  background-color: #ffffff;
}

.loading {
  filter: blur(1px);
  z-index: 1;
  pointer-events: none;
}

.loading-spinner {
  filter: blur(1px);
  z-index: 1;
  pointer-events: none;
}

select,
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
