<template>
  <div class="container">
    <form class="action" @submit.prevent="addTask">
      <input type="text" v-model="taskNameTemp" placeholder="Your task..." />
      <button class="btn primary">Add</button>
    </form>
    <div class="task-column">
      <tasks
        :type="statusType.New"
        :tasks="tasks"
        @task-edit="editTask"
        @task-remove="removeTask"
      />
      <tasks
        :type="statusType.Inprogress"
        :tasks="tasks"
        @task-edit="editTask"
        @task-remove="removeTask"
      />
      <tasks
        :type="statusType.Done"
        :tasks="tasks"
        @task-edit="editTask"
        @task-remove="removeTask"
      />
    </div>

    <modal ref="modal">
      <template v-slot:form-template>
        <div class="modal-form-input">
          <input type="text" v-model="taskSelected.name" />
          <select v-model="taskSelected.status">
            <option
              v-for="(option, index) in statusOptions"
              :key="index"
              :value="option.value"
            >
              {{ option.label }}
            </option>
          </select>
        </div>
        <div class="modal-form-action">
          <button @click="updateTask">Save</button>
        </div>
      </template>
    </modal>
  </div>
</template>

<script>
import Tasks from "../components/TasksComponent.vue";
import Modal from "../components/ModalComponent.vue";
import { statusType, statusOptions } from "../utils/data.js";
import { v4 as uuidv4 } from "uuid";

export default {
  name: "Home",
  components: { Tasks, Modal },
  data() {
    return {
      taskNameTemp: "",
      tasks: [],
      statusType: statusType,
      statusOptions: statusOptions,
      taskSelected: {
        id: "",
        name: "",
        status: "",
      },
    };
  },
  methods: {
    addTask() {
      if (!this.taskNameTemp) return;

      this.tasks.push({
        id: uuidv4(),
        name: this.taskNameTemp,
        status: statusType.New,
      });

      this.taskNameTemp = "";
    },
    editTask(task) {
      this.resetModal();
      this.$refs.modal.openModal();
      this.setModal(task);
    },
    updateTask() {
      this.$refs.modal.closeModal();
      let task = this.tasks.find((t) => t.id == this.taskSelected.id);
      if (!task) return;
      task.name = this.taskSelected.name;
      task.status = this.taskSelected.status;
    },
    removeTask(task) {
      this.tasks = this.tasks.filter((t) => t.id != task.id);
    },
    setModal(task) {
      this.taskSelected.id = task.id;
      this.taskSelected.name = task.name;
      this.taskSelected.status = task.status;
    },
    resetModal() {
      this.taskSelected.id = "";
      this.taskSelected.nameSelected = "";
      this.taskSelected.statusSelected = "";
    },
  },
};
</script>

<style scoped>
.container {
  width: 1210px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
}

.action {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action input {
  height: 35px;
  width: 50%;
  border: 1px solid #555;
  padding: 10px;
}

.action input[type="text"]:focus {
  border: 1px solid #555;
}

.action button {
  height: 35px;
  width: 8%;
  margin-left: 10px;
}

.task-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-form-input {
  width: 300px;
}

.modal-form-input input[type="text"] {
  width: 60%;
  height: 30px;
  margin-right: 10px;
}
.modal-form-input select {
  width: 35%;
  height: 30px;
}
.modal-form-action {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.modal-form-action button {
  border: 0;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(192, 204, 241);
}

.modal-form-action button:hover {
  background-color: rgb(183, 196, 235);
}
</style>
