<!-- Login.vue -->
<template>
  <div class="login">
    <h2>Login</h2>
    <form @submit.prevent="login">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" v-model="username" required />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" v-model="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <div v-if="error" class="error">Invalid credentials. Please try again.</div>
  </div>
</template>

<script>
import { AuthStorage, Role } from "../utils/constants.js";
import { setLocalStorage } from "../utils/helper.js";
import { mapMutations } from "vuex";

import httpService from "../plugins/httpService.js";

export default {
  data() {
    return {
      username: "",
      password: "",
      error: false,
    };
  },
  methods: {
    ...mapMutations("auth", ["SET_LOGIN"]),
    async login() {
      try {
        if (
          this.username == "quan.bt@asto-system.com" &&
          this.password == "AD1fqHn0"
        ) {
          var params = {
            login_account: this.username,
            password: this.password,
          };
          var response = await httpService.post(
            "/dev/api/v1/admin/auth/login",
            params
          );

          if (response.httpCode != 200) {
            return;
          }

          response.data.role = Role.Admin;
          setLocalStorage(AuthStorage, response.data);
          this.SET_LOGIN(response.data);
          this.$router.push("/home");
        } else {
          var authData = {
            access_token: "",
            account_id: 5,
            token_type: "bearer",
            expires_in: 1440,
            first_name: "Huy",
            last_name: "Nguyen",
            role: Role.User,
          };
          setLocalStorage(AuthStorage, authData);
          this.SET_LOGIN(authData);
          this.$router.push("/home");
        }
      } catch (error) {
        console.error("Error:", error);
      }
    },
  },
};
</script>

<style scoped>
/* Styles for Login.vue */
.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  text-align: center;
  margin-top: 10px;
}
</style>
