<template>
  <div class="content">
    <div class="content_title">
      <h2>{{ title }}</h2>
      <button v-if="action === 'Edit'" class="btn danger" @click="deleteData">
        Delete
      </button>
    </div>
    <div class="content_form">
      <form @submit.prevent="submit">
        <div
          class="content_form_row"
          v-for="slotName of Object.keys(this.$scopedSlots)"
          :key="slotName"
        >
          <slot :name="slotName"></slot>
        </div>
        <div class="content_action">
          <button class="btn danger" @click="cancel">Cancel</button>
          <button class="btn primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "BasicFormLayout",
  props: {
    title: {
      type: String,
      default: "Create",
    },
    action: {
      type: String,
      default: "Create",
      required: true,
    },
  },
  methods: {
    submit() {
      this.$emit("submit", "submit");
    },
    cancel() {
      this.$emit("cancel", "cancel");
    },
    deleteData() {
      this.$emit("deleteData", "deleteData");
    },
  },
};
</script>

<style scoped>
.content {
  width: 100%;
}

.content .content_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content .content_form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content .content_form form .content_form_row {
  width: 100%;
}

.content .content_form form .content_form_row {
  width: 100%;
}

.content .content_form form .content_action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
</style>
