<template>
  <div class="header">
    <div class="header_filter">
      <div
        class="header_filter_item"
        v-for="slotName of Object.keys(this.$scopedSlots)"
        :key="slotName"
      >
        <slot :name="slotName"></slot>
      </div>
      <button class="btn primary" @click="search">Search</button>
      <button class="btn secondary" @click="reset">Reset</button>
    </div>
    <div class="header_action">
      <button class="btn primary" @click="goToCreate">
        <i class="fa-solid fa-plus"></i>
        Add
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "DynamicHeader",
  created() {},
  props: {
    pathCreate: {
      type: String,
      required: true,
    },
  },
  methods: {
    goToCreate() {
      this.$router.push(this.pathCreate);
    },
    search() {
      this.$emit("search", "search");
    },
    reset() {
      this.$emit("reset", "reset");
    },
  },
};
</script>

<style scoped>
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
}

.header .header_filter {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.header .header_filter .header_filter_item {
  position: relative;
}

.header_filter button {
  height: 36px;
  width: 90px;
}

.header .header_action {
  display: flex;
  flex-direction: row;
}

.header .header_action button {
  height: 36px;
  width: 90px;
  margin-left: 10px;
}
</style>
