<template>
  <div class="loading-indicator">
    <div class="line-container">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</template>

<style>
.loading-indicator {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.line-container {
  display: flex;
}

.line {
  width: 10px;
  height: 50px;
  background-color: #263238;
  margin: 10px;
  animation: rotateLines 1s linear infinite;
}

@keyframes rotateLines {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
