<template>
  <Transition>
    <div v-if="isOpen" class="modal" id="modal">
      <div class="modal-content" id="modal-content">
        <!-- Modal content goes here -->
        <slot name="form-template"></slot>
      </div>
    </div>
  </Transition>
</template>

<script>
export default {
  name: "Modal",
  data() {
    return {
      isOpen: false,
    };
  },
  methods: {
    openModal() {
      this.isOpen = true;
      setTimeout(() => {
        document
          .getElementById("modal")
          .addEventListener("click", this.handleClickOutside, true);
      }, 250);
      // Add event listener for clicks outside the modal
    },
    closeModal() {
      this.isOpen = false;
      document
        .getElementById("modal")
        .removeEventListener("click", this.handleClickOutside);
    },
    handleClickOutside(event) {
      const modalContent = document.getElementById("modal-content");
      if (!modalContent.contains(event.target)) {
        this.closeModal();
      }
    },
  },
};
</script>

<style scoped>
/* Styles for the modal go here */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
