<template>
  <div class="content">
    <table-skeleton-loading
      :headers="headers"
      v-if="loading"
    ></table-skeleton-loading>

    <table v-else>
      <thead>
        <tr>
          <th
            v-for="header of headers"
            :key="header.id"
            class="text-left"
            :style="{ width: header.width }"
          >
            {{ header.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <template v-if="total > 0">
          <tr
            v-for="(item, index) of items"
            :key="item.id"
            :class="index % 2 === 0 ? 'even' : 'odd'"
          >
            <td
              class="text-left"
              v-for="(header, indexHeader) of headers"
              :key="indexHeader"
            >
              <template v-if="$scopedSlots[`item.${header.key}`]">
                <slot :name="`item.${header.key}`" :item="item"></slot>
              </template>
              <template v-else>
                {{ item[header.key] }}
              </template>
            </td>
          </tr>
        </template>
        <template v-else>
          <td class="no-record">
            <tr>
              <td :colspan="headers.length">không có dữ liệu</td>
            </tr>
          </td>
        </template>
      </tbody>
    </table>

    <div v-if="pageCount > 1" class="pagination">
      <ul>
        <li
          v-for="pageNumber of paginationCore"
          :key="pageNumber"
          @click="updateCurrentPage(pageNumber)"
          :class="[
            pageNumber == '...' ? 'disabled' : '',
            page === pageNumber ? 'current-page' : '',
          ]"
        >
          {{ pageNumber }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { generateCorePagination } from "../utils/helper";
import TableSkeletonLoading from "./TableSkeletonLoadingComponent.vue";

export default {
  name: "Table",
  components: { TableSkeletonLoading },
  props: {
    headers: {
      type: Array,
      required: true,
    },
    items: {
      type: Array,
      required: true,
    },
    page: {
      type: Number,
      default: 1,
    },
    total: {
      type: Number,
      default: 0,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    pageCount() {
      return Math.ceil(this.total / this.pageSize);
    },
    paginationCore() {
      return generateCorePagination(this.page, this.pageCount);
    },
  },
  data() {
    return {
      pageSize: 20,
    };
  },
  created() {},
  methods: {
    updateCurrentPage(page) {
      this.$emit("update:options", { page });
    },
  },
};
</script>

<style scoped>
table {
  width: 100%;
  height: auto;
  border-collapse: collapse; /* Merge table borders */
  border-spacing: 0; /* Remove spacing between table cells */
}

thead tr th {
  padding: 15px;
  color: #8b9eb5;
  font-weight: 400;
  background-color: #f1f5f8;
  border-right: 1px solid #d5dee9;
}

thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

thead tr th:last-child {
  border-radius: 0 10px 0 0;
  border-right: 0;
}

tbody tr.odd {
  padding: 15px;
  background-color: #f8f8f8;
}

tbody tr.even {
  background-color: #fff;
}
tbody tr.even:hover {
  background-color: #f8f8f8;
}

tbody tr td {
  padding: 10px;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

.pagination {
  width: 100%;
  height: 50px;
}
.pagination ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  height: 100%;
}
.pagination ul li {
  height: 35px;
  width: 35px;
  background-color: #d5dee9;
  color: #8b9eb5;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.pagination ul li.current-page {
  background-color: #fff;
  border: 1px solid #0051b6;
  color: #0051b6;
}

.pagination ul li.disabled {
  pointer-events: none;
}

.no-record td {
  width: 100%;
}
</style>
