<template>
  <table>
    <thead>
      <tr>
        <th v-for="header in headers" :key="header.key">
          <!-- Show header skeleton -->
          <div class="skeleton skeleton-header"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in rows" :key="'item-' + item">
        <td v-for="header in headers" :key="header.key">
          <!-- Show row skeleton -->
          <div class="skeleton"></div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  name: "TableSkeleton",
  props: {
    headers: {
      type: Array,
      required: true,
    },
    rows: {
      type: Number,
      default: 5,
    },
  },
};
</script>

<style scoped>
/* Add some basic styling for the skeleton element */
.skeleton {
  width: 100%;
  height: 1.5rem;
  background-color: #f2f2f2;
  animation: pulse 1s infinite ease-in-out;
}

.skeleton-header {
  height: 2rem; /* Adjust the height for the header skeleton */
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

table {
  width: 100%;
  height: auto;
  border-collapse: collapse; /* Merge table borders */
  border-spacing: 0; /* Remove spacing between table cells */
}

thead tr th {
  padding: 15px;
  color: #8b9eb5;
  font-weight: 400;
  background-color: #f1f5f8;
  border-right: 1px solid #d5dee9;
}

thead tr th:first-child {
  border-radius: 10px 0 0 0;
}

thead tr th:last-child {
  border-radius: 0 10px 0 0;
  border-right: 0;
}

tbody tr.odd {
  padding: 15px;
  background-color: #f8f8f8;
}

tbody tr.even {
  background-color: #fff;
}
tbody tr.even:hover {
  background-color: #f8f8f8;
}

tbody tr td {
  padding: 10px;
}

tbody tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}

tbody tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}

.pagination {
  width: 100%;
  height: 50px;
}
.pagination ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  height: 100%;
}
.pagination ul li {
  height: 35px;
  width: 35px;
  background-color: #d5dee9;
  color: #8b9eb5;
  opacity: 0.9;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.pagination ul li.current-page {
  background-color: #fff;
  border: 1px solid #0051b6;
  color: #0051b6;
}

.pagination ul li.disabled {
  pointer-events: none;
}

.no-record td {
  width: 100%;
}
</style>
