<template>
  <div class="main-task">
    <div class="header">{{ statusTypeName }}</div>
    <div class="tasks">
      <div class="task" v-for="task of taskData" :key="task.id">
        <div class="task-name">{{ task.name }}</div>
        <div class="task-options">
          <button class="task-edit" @click="edit(task)">
            <i class="fa-solid fa-pen"></i>
          </button>
          <button class="task-delete" @click="remove(task)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { statusOptions } from "../utils/data.js";

export default {
  name: "Tasks",
  props: {
    type: {
      type: Number,
    },
    tasks: {
      type: Array,
    },
  },
  data() {
    return {
      statusOptions: statusOptions,
    };
  },
  computed: {
    taskData() {
      return this.tasks.filter((t) => t.status == this.type);
    },
    statusTypeName() {
      return this.statusOptions.find((t) => t.value == this.type).label;
    },
  },
  methods: {
    edit(task) {
      this.$emit("task-edit", task);
    },
    remove(task) {
      this.$emit("task-remove", task);
    },
  },
};
</script>

<style scoped>
.main-task {
  height: auto;
  min-height: 45rem;
  width: 340px;
  padding: 0.5rem;
  border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: 0.4px 0.4px 1px 1px #adcecb;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.tasks {
  width: 100%;
  height: 100%;
}

.tasks .task {
  width: 100%;
  min-height: 80px;
  height: auto;
  padding: 0.7rem;
  background-color: rgb(236 236 241);
  box-shadow: 0.3px 0.3px 0.4px 0.4px #adcecb;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.tasks .task:hover {
  background-color: rgb(226, 226, 235);
  box-shadow: 1px 1px 0.4px 0.4px #adcecb;
}

.tasks .task .task-options {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}

.tasks .task .task-options .task-name {
  max-width: 250px;
  height: 100%;
}

.tasks .task .task-options button {
  padding: 5px;
  border: unset;
  border-radius: 10px;
  width: 35px;
  height: 35px;
}

.tasks .task .task-options button:hover {
  box-shadow: 0.2px 0.2px 0.1px 0.1px #adcecb;
  cursor: pointer;
}

.tasks .task .task-options i {
  color: #dd9476;
}
</style>
