<template>
  <div class="main">
    <basic-form-layout
      title="Create plan"
      :action="action"
      @cancel="cancel"
      @submit="submit"
    >
      <template v-slot:select>
        <div class="custom_form_item">
          <label for="selectOption">Type:</label>
          <select v-model="body.plan_type">
            <option
              v-for="(type, index) of listPlanType"
              :key="type.value"
              :value="type.value"
              :selected="index === 0"
            >
              {{ type.label }}
            </option>
          </select>
        </div>
      </template>
      <template v-slot:name>
        <div class="custom_form_item">
          <label>Name:</label>
          <input v-model="body.name" type="text" />
        </div>
      </template>
      <template v-slot:value>
        <div class="custom_form_item">
          <label>Value:</label>
          <input v-model="body.value" type="number" />
        </div>
      </template>
    </basic-form-layout>
  </div>
</template>

<script>
import BasicFormLayout from "@/components/BasicFormLayoutComponent.vue";
import { listPlanType } from "../../utils/data.js";
import fetchCreateEditMixin from "../../mixins/fetchCreateEditMixin.js";

export default {
  name: "CreatePlan",
  components: {
    BasicFormLayout,
  },
  mixins: [fetchCreateEditMixin],
  data() {
    return {
      action: "Create",
      apiEndPoint: "/dev/api/v1/admin/plans",
      pathList: "/plan/list",
      body: {
        plan_type: "",
        name: "",
        value: "",
      },

      //First data init
      listPlanType: listPlanType,
    };
  },
};
</script>

<style scoped>
.main {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

.custom_form_item {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.custom_form_item label {
  width: 25%;
}

.custom_form_item input {
  width: 100%;
  padding: 10px;
}
</style>
