<template>
  <div class="main_layout">
    <sidebar></sidebar>
    <main-header></main-header>
    <div class="main_layout_content">
      <div class="main_layout_container">
        <loading-indicator v-if="isLoadingRoute" />
        <router-view v-else />
      </div>
    </div>
  </div>
</template>

<script>
import Sidebar from "./Sidebar.vue";
import MainHeader from "./MainHeader.vue";
import LoadingIndicator from "@/components/LoadingIndicatorComponent.vue";
import { mapState } from "vuex";

export default {
  name: "Layout",
  components: {
    Sidebar,
    MainHeader,
    LoadingIndicator,
  },
  computed: {
    ...mapState(["isLoadingRoute"]),
  },
  data() {
    return {};
  },
};
</script>

<style scoped>
.main_layout {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.main_layout_content {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-top: 70px;
}

.main_layout_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
</style>
