<template>
  <div class="main_header">
    <div class="main_header__left">
      <div @click="goToHome" class="logo">Training skills</div>
    </div>
    <div
      class="main_header__right"
      @mouseover="showDropdown = true"
      @mouseleave="showDropdown = false"
    >
      <div class="devide"></div>
      <div class="user_settings">
        <i class="fa-solid fa-circle-user fa-xl"></i>
        {{ userName }}
        <i class="fa-solid fa-chevron-down fa-md"></i>
      </div>
      <ul class="user_settings_options" v-show="showDropdown">
        <li @click="logout">
          <i class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
          <a>Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { AuthStorage } from "@/utils/constants";
import { removeLocalStorage } from "@/utils/helper";
import { mapState, mapMutations } from "vuex";

export default {
  name: "Header",
  data() {
    return {
      showDropdown: false,
      selectedOption: null,
    };
  },
  computed: {
    ...mapState("auth", ["userData"]),
    userName() {
      return `${this.userData.last_name} ${this.userData.first_name}`;
    },
  },
  methods: {
    ...mapMutations("auth", ["SET_LOGOUT"]),
    logout() {
      removeLocalStorage(AuthStorage);
      this.SET_LOGOUT();
      this.$router.push("/login");
    },
    selectOption(option) {
      this.selectedOption = option;
      this.showDropdown = false;
    },
    goToHome() {
      this.$router.push("/home");
    },
  },
};
</script>

<style scoped>
.main_header {
  background-color: #fff;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid #d9d9d9;

  z-index: 999;
}

.main_header .main_header__left .logo {
  height: 70px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
  text-transform: uppercase;

  cursor: pointer;
}

.main_header .main_header__right {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.main_header .main_header__right .devide {
  height: 90%;
  width: 2px;
  background-color: #8b9eb5;
  margin-right: 10px;
  opacity: 0.4;
}

.main_header .main_header__right .user_settings {
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  cursor: pointer;
  border-radius: 7px;
}

.main_header .main_header__right .user_settings:hover {
  background-color: #ced4db;
}

.main_header .user_settings_options {
  position: absolute;
  width: 157px;
  top: 64px;
  right: 24px;
  padding: 4px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  list-style-type: none;

  z-index: 99;

  background-color: #8b9eb5;
  cursor: pointer;
}

.main_header .user_settings_options li {
  padding: 10px;
  border-radius: 10px;
  background-color: #8b9eb5;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 10px;
}

.main_header .user_settings_options li:hover {
  background-color: #ced4db;
}

.main_header .user_settings_options li a {
  text-decoration: none;
  color: #000;
}
</style>
