<template>
  <div class="main-nav">
    <nav>
      <router-link
        class="nav-link"
        :class="isActive(nav.originPath)"
        v-for="nav of navigations"
        :key="nav.path"
        :to="nav.path"
      >
        <div class="devide"></div>
        <i :class="nav.icon"></i>
        {{ nav.name }}
      </router-link>
    </nav>
  </div>
</template>

<script>
import { Navigates } from "@/utils/constants";
import { mapState } from "vuex";

export default {
  name: "Sidebar",
  computed: {
    ...mapState("auth", ["userData"]),
    navigations() {
      return Navigates.filter((nav) => nav.role.includes(this.userData.role));
    },
  },
  methods: {
    isActive(originPath) {
      var listName = this.$route.path.split("/");
      return `/${listName[1]}` === originPath ? "router-link-exact-active" : "";
    },
  },
};
</script>

<style scoped>
.main-nav {
  height: 100%;
  width: 100px !important;
  min-width: 100px !important;
  background-color: #263238;
  color: #8b9eb5 !important;
  flex-direction: column;
  position: fixed;

  padding-top: 70px;
}

.main-nav nav {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-nav nav .nav-link {
  height: 80px;
  width: 100%;

  color: #8b9eb5;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-decoration: none;
}

.main-nav nav .nav-link i {
  font-size: 22px;
  margin-bottom: 10px;
}

a.router-link-exact-active {
  background-color: #161f23;
  font-weight: 500;
  color: #fff !important;
}

a.router-link-exact-active > div.devide {
  height: 80px;
  background-color: #0051b6;
  width: 5px;
  left: 0;
  position: absolute;
  border-radius: 0 10px 10px 0;
}
</style>
